.singin{
    margin-top: 100px;
    width: 486px;
height: 700px;
border-radius: 4px;
border-width: 1px;
background: white;
}
.singin_modal{
padding-top: 48px;
h3{
    padding-left: 202px;
    font-family: Lato;
font-weight: 700;
font-size: 28px;
line-height: 150%;
letter-spacing: 0%;
vertical-align: middle;
color: black;
}
p{
    padding-top: 24px;
font-size: 16px;
font-family: Lato;
font-weight: 400;
text-align: center;
vertical-align: middle;
color: #787A80;
}
}
.modal_close {
    margin-top: 24px;
    margin-left: 428px;
        width: 44px;
height: 44px;
  position: absolute;
  background: transparent;
  border: none;
  font-size: 34px;
  line-height: 1;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
  &:hover {
    color: #000;
  }
}

.singinform{
    padding-top: 24px;
padding-left: 48px;
    label{
        color: #424551;
    }
}
.btn_input{ 
    padding-top: 8px;
        input{
            padding: 0 16px;
            gap: 12px;
            outline: none;
            width: 390px;
        height: 44px;
        border-radius: 4px;
        border: 1px solid #D7DADD;
        }
    
}
.singlabel{
    padding-top: 20px;
}
.labelis{
    padding-top: 20px;
}
.form_default{
   padding-top: 8px;
   input{
    width: 390px;
    padding: 0 16px;
height: 44px;
outline: none;
border-radius: 4px;
border: 1px solid #D7DADD;
   }
   img{
    cursor: pointer;
    margin-left: -30px;
   }
}
.cheked_chekbox{
    padding-top: 20px;
    display: flex;
    width: 390px;
    input{
        width: 16px;
height: 16px;
    }
    label{
 padding-left: 12px;
font-family: Lato;
font-weight: 400;
font-size: 14px;
    }
small{
padding-left: 156px;
    display: flex;
    font-family: Lato;
font-weight: 400;
font-size: 14px;
text-align: right;
color: #17696A;
}
}
.btn_singin{
    padding-top: 24px;
    button{
        width: 390px;
height: 44px;
border-radius: 4px;
padding-right: 32px;
padding-left: 32px;
background: #17696A;
border: none;
color: white;
    }
p{
    padding-top: 24px;
    font-family: Lato;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
}
span{
      text-decoration: none;
    font-family: Lato;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
color: #17696A;
}
span:hover{
        color: black;
    cursor: pointer;
}
a{
    text-decoration: none;
}
}
.no-underline-link{
    text-decoration: none;
    
}
.no-underline-link:hover {
  text-decoration: underline;
}
.diviler2{
    width: 486px;
    margin-top: 24px;
    border: 1px solid #E5E8ED;
}
.orsign{
    padding-top: 24px;
    padding-left: 48px;
    p{
        width: 390px;
        font-family: Lato;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
    }
}
.sociald{
    padding-top: 16px;
    margin-left: 161px;
    display: flex;
    column-gap: 12px;
    width: 164px;
height: 32px;
}
.social{
     width: 32px;
    height: 32px;
border-radius: 4px;
background: #D7DADD;
}
.sociald:hover i{
opacity: 0.4;
}
.sociald i:hover{
        transform: scale(1.3);
    opacity: 1;
    cursor: pointer;
}

.solid{
    width: 16px;
    height: 16px;
margin-top:8px;
    margin-left: 8px;
 color: #787A80;
}
.solid:hover{
    color: #17696A;
}