.categories{
    margin-top: -60px;
    padding-left: 345px;
    display: flex;
    column-gap: 30px;
    p{
        margin-top: 16px;
    }
}
.categorie{
    text-align: center;
}
.cater{
text-align: center;
}
.cater2{
    text-align: center;
}
