.categories{
    margin-top: 120px;
    max-width: 1920px;
    padding-left: 345px;
    display: flex;
    column-gap: 30px;
    p{
        margin-top: 16px;
    }
}
.categories{
    img:hover{
 transform: scale(1.08);
}
}
.categorie{
    text-align: center;
    p{
    font-family: Lato;
font-weight: 700;
font-size: 20px;
color: #424551;
text-align: center;
}
p:hover{
color: #17696A;
}
}

.cater{
text-align: center;
p{
    font-family: Lato;
font-weight: 700;
font-size: 20px;
color: #424551;
text-align: center;
}
p:hover{
color: #17696A;
}
}
.cater2{
    text-align: center;
    p{
    font-family: Lato;
font-weight: 700;
font-size: 20px;
color: #424551;
text-align: center;
}
p:hover{
color: #17696A;
}
}
.catertext{
text-decoration: none;
}