.new_arivals{
    margin-top: 180px;
    max-width: 1860px;
    padding-left: 30px;
    margin-right: 30px;
    &_container{
        h1{
            display: flex;
            justify-content: center;
            font-family: Lato;
    font-weight: 900px;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0%;
        }
    }
    &_check{
        margin-top: 24px;
        display: block;
        justify-items: center;
    }
};
.div{
    margin-top: 60px;
    column-gap: 30px;
   display: flex;
}
.div{
       display: flex;
   flex-wrap: nowrap;
   transition: transform 0.5s ease;
}
.dots{
    opacity: 0.5;
    cursor: not-allowed;
}
.kep{
    background: url('../../../assets/Image/cap.png')center no-repeat;
    width: 285px;
    height: 320px;
}
.glass{
    background: url('../../../assets/Image/smll.png')center no-repeat;
    width: 285px;
    height: 320px;
}
.fotbol{
    background: url('../../../assets/Image/fotbol.png')center no-repeat;
    width: 285px;
    height: 320px;
}
.sholl{
    background: url('../../../assets/Image/sholl.png')no-repeat;
    width: 285px;
    height: 320px;
}
.boll{
    background: url('../../../assets/Image/boll.png')no-repeat;
    width: 285px;
    height: 320px;
}
.bots{
    background: url('../../../assets/Image/bots.png')no-repeat;
    width: 285px;
    height: 320px;
}
.bots2{
    background: url('../../../assets/Image/product-n2.png')no-repeat;
        width: 285px;
    height: 320px;
}
.sumka{
    background: url('../../../assets/Image/sumka2.png')no-repeat;
        width: 285px;
    height: 320px;
}
.tolstovka{
    background: url('../../../assets/Image/tolstovka.png')no-repeat;
        width: 285px;
    height: 320px;
}
.plash{
    background: url('../../../assets/Image/plash.png')no-repeat;
        width: 285px;
    height: 320px;
}
.cofta{
    background: url('../../../assets/Image/cofta2.png')no-repeat;
        width: 285px;
    height: 320px;
}
.dots{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
}
.product-like-icon{
    position: absolute;
    margin-left: 240px;
    margin-top: -120px;
}
.rating{
    padding-top: 16px;
    padding-left: 180px;
}
.product-link{
    text-decoration: none;
    color: #424551;
    display: block;
}
.product-item{
    p{
            margin-top: 16px;
    padding-left: 16px;
        font-family: Lato;
font-weight: 400;
font-size: 18px;
    }
    p:hover{
        color: #17696A;
    }
    h5{
            margin-top: 16px;
    padding-left: 16px;
        font-family: Lato;
font-weight: 700;
font-size: 20px;
vertical-align: middle;
color: #1E212C;
    }
}