.main{
  width: 1920px;
}
.hero{
width: 1920px;
   height: 800px;
   background: url('../../assets/Image/image\ \(2\).png')center no-repeat;
}
.hero2{
    width: 1920px;
   height: 800px;
   background: url('../../assets/Image/Slide2.jpg') center no-repeat;
}
.hero3{
    width: 1920px;
    height: 800px;
    background: url('../../assets/Image/Slide3.jpg') center no-repeat;
}
.hero4{
    width: 1920px;
    height: 800px;
    background: url('../../assets/Image/slide4.jpg') center no-repeat;
}
.Menswer{
   padding-top: 140px;
   h3{
font-family: Lato;
font-weight: 700px;
font-size: 18px;
line-height: 150%;
letter-spacing: 1px;
vertical-align: middle;
   }
   h1{
width: 1000px;
    margin-top: 12px;
    font-family: Lato;
font-weight: 900;
font-size: 72px;
line-height: 130%;
letter-spacing: 1px;
vertical-align: middle;
   }
}
@keyframes animate2{
    from {
        border-right: transparent;
    }
}
@keyframes animate1 {
    from{
        width: 0;
    }
}
.typewriper{
overflow: hidden;
text-transform: uppercase;
animation: animate1 1s steps(12) forwards,
animate2 .5s infinite alternate;
}
.typewrip{
    overflow: hidden;
animation: animate3 1s steps(12) forwards,
animate4 .2s ease-in-out;
}
@keyframes animate3{
    from {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animate4 {
    from{
        transform: translateY(-2.25rem);
    }
}
.menswer2{
       padding-top: 140px;
   h3{
font-family: Lato;
font-weight: 700px;
font-size: 18px;
vertical-align: middle;
   }
   h1{
width: 1000px;
    margin-top: 12px;
    font-family: Lato;
font-weight: 900;
font-size: 72px;
vertical-align: middle;
   }
}
.btn-2{
    padding-top: 60px;
}
.btn-22{
        button{
            width: 231px;
height: 52px;
border-radius: 4px;
       font-family: Lato;
font-weight: 700;
font-size: 16px;
text-align: center;
vertical-align: middle;
border-width: 1px;
background-color: transparent;
border: 1px solid #17696A;
color: #17696A;
    }
        button:hover{
        background:#17696A;
       color: white;
       font-family: Lato;
font-weight: 700;
font-size: 16px;
text-align: center;
vertical-align: middle;
    }
}
.btn-3{
       padding-top: 60px;
}
.btn-33{
    button{
            width: 190px;
height: 52px;
border-radius: 4px;
       font-family: Lato;
font-weight: 700;
font-size: 16px;
text-align: center;
vertical-align: middle;
border-width: 1px;
background-color: transparent;
border: 1px solid #17696A;
color: #17696A;
    }
        button:hover{
        background:#17696A;
       color: white;
       font-family: Lato;
font-weight: 700;
font-size: 16px;
text-align: center;
vertical-align: middle;
    }
}
.btn{
padding-top: 60px;
display: flex;
}
.btnna{
display: flex;
}
.btn__shop{
    button{
            width: 152px;
height: 52px;
border-radius: 4px;
       font-family: Lato;
font-weight: 700;
font-size: 16px;
text-align: center;
vertical-align: middle;
border-width: 1px;
background-color: transparent;
border: 1px solid #17696A;
color: #17696A;
    }
    button:hover{
        background:#17696A;
       color: white;
       font-family: Lato;
font-weight: 700;
font-size: 16px;
text-align: center;
vertical-align: middle;
    }
}

.shop_btn{
    margin-left: 24px;
    width: 229px;
height: 52px;
gap: 10px;
border-radius: 4px;
background: #17696A;
color: white;
border: none;
}
.slider_control{
    margin-top: -420px;
    margin-left: 32px;
margin-right: 32px;
}

.btn_prev{
display: flex;
justify-content: space-between;
}

.Left_btn{
    width: 48px;
height: 48px;
border-radius: 50%;
border: none;
}
.Right_btn{
width: 48px;
height: 48px;
border-radius: 50%;
border: none;
}

.pages{
    margin-top: 140px;
    display: flex;
    column-gap: 4px;
   button{
    border: none;
    background-color: transparent;
   }
   h3{
    margin-top: 12px;
   }
}
.pager{
    h3{
        color: #424551;
        font-family: Ubuntu;
        font-weight: 700;
        font-size: 28px;  
        opacity: 0.6;
    }
        h3:hover{
 color: #424551;
 cursor: pointer;
 opacity: 1;
    }
}
.pager2{
    h3{
        font-family: Ubuntu;
font-weight: 700;
font-size: 28px;
color: #424551;
opacity: 0.6;
    }
    h3:hover{
        color: #424551;
 cursor: pointer;
 opacity: 1;
    }
}
.pager{
    h3{
        opacity: 1;
    }
}