.services{
    margin-top: 120px;
    max-width: 1920px;
}
.servis{
    display: flex;
    column-gap: 45px;
}
.servises{
    width: 240px;
height: 136px;
    img{
padding-left: 96px;
    }
    h3{
        margin-top: 24px;
      padding-left: 8px;
        font-family: Lato;
font-weight: 700;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
    }
p{
    margin-top: 8px;
    padding-left: 12px;
    font-family: Lato;
font-weight: 400;
font-size: 16px;
line-height: 160%;
letter-spacing: 0%;
text-align: center;
}
}
.diviler-gra{
    height: 136.0000000000001px;
    width: 1px;
border: solid #DADBDD80;
}
