.subscribe{
    margin-top: 120px;
    width: 1920px;
height: 546px;
background: #F4F5F6;
}
.message{
    margin-top: 65px;
    margin-left: 1114px;
    position: absolute;
   display: flex;
   justify-items: flex-end;
}