.breadtop10{
    width: 1920px;
height: 53px;
top: 162px;
background: #F4F5F6;
}
.Breadtop{
    padding-top: 18.5px;
    display: flex;
    img{
        padding: 0 8px;
    }
}
.gohome{
    padding-top: 2px;
    color: #424551;
}
.Fashonnews{
    font-family: Lato;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
color: #424551;
}
.Top10news{
    font-family: Lato;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
color: #9A9CA5;
}